<!DOCTYPE html>
<html>
  <head>
    <!-- html5 boilerplate codes, html-cache:expire, js/css cache problem: ?ver, gAnalytics -->
    <meta charset="utf-8">
    <title>anguar 1.x + browserify + node require</title>
    <!-- <link rel="stylesheet" href="/css/style.css" type="text/css">
     -->
    
   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
    <!--
        nodejs 환경에서는 패키지매니저인 import나 export는 mpn
        자바스크립트 파일을 합쳐서 하나로 만드는 거는 browseryfy or webpack
     -->


    
    
    
  </head>
  <body>
    <div class="container" ng-app="myApp" ng-controller="MyController2">
      Hello World
      <br>
      {{user.name}}
      <p ng-bind="user.name"></p>
    </div>
  </body>
</html>